<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png"> 
    <title>{% block title %} {% endblock %}</title>
    <meta name="og:type" content="website">
    <meta name="twitter:card" content="photo">
    {% block stylesheet %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base2.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='navbar2.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.socket.io/4.2.0/socket.io.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="/static/scripts/toastr_config.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='toastr.css') }}">
</head>
<body>
    <div class="navbar">
            <a href="/" class="navbar-title">Sentify</a> 
        <div class="navbar-search">
            <input id="search-input" type="text" placeholder="Search..." />
            <div id="results" class="search-results"></div>
        </div>
        <div class="navbar-buttons">
            <a href="/login" class="navbar-button">Login</a>
            <a href="/register" class="navbar-button">Join Us</a>
        </div>
    </div>
    <nav class="side-menu">
        <div class="side-menu-toggle" onclick="toggleSidebar()">
            <svg xmlns="http://www.w3.org/2000/svg" class="side-menu-right-chevron" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
            </svg>
        </div>    
    </nav>
    <script src="/static/scripts/sidebar.js"></script>
</body>
</html>