{% extends "base2.html" %}

{% block title %} Login {% endblock %}
{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='auth.css') }}">
{% endblock %}
{% block content %}
<div class="reg-container">
    <h1 class="reg-title">Login</h1>
    <div class="reg-forms">
        <div class="manual-reg-form">
            <form action="" method="POST"> 
                <input type="email" name="email" placeholder="Email" autocomplete="email" maxlength="48" required> 
                {% with messages = get_flashed_messages(category_filter=["verify_error"]) %}
                    {% if messages %}
                    <div class="criteria">{{ messages[0] }}</div>
                    {% endif %}
                {% endwith %}    
                <input type="password" name="password" placeholder="Password" autocomplete="current-password" required>
                {% with messages = get_flashed_messages(category_filter=["login_error"]) %}
                    {% if messages %}
                    <div class="criteria">{{ messages[0] }}</div>
                    {% endif %}
                {% endwith %}    
                <div class="checkbox-container">
                    <label for="showPasswordCheckbox">Show Password</label>
                    <input name="showPassword" type="checkbox" onclick="togglePasswordVisibility()">    
                </div>
                <div class="checkbox-container">
                    <label for="rememberMeCheckbox">Remember Me</label>
                    <input type="checkbox" name="remember">
                </div>
                <div class="visual-text"> 
                    Don't have an account? <a class="link" href="/register">Join here!</a> 
                </div>
                <button type="submit"  class="reg-button">Sign In</button> 
            </form>
        </div>
    </div>

</div>
<script src="/static/scripts/auth.js"></script>
{% endblock %}