{% extends "base2.html" %}

{% block title %} Register {% endblock %}
{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='auth.css') }}">
{% endblock %}
{% block content %}
<div class="reg-container">
    <h1 class="reg-title">Register</h1>
    <div class="reg-forms">
        <div class="manual-reg-form">
            <form action="" method="POST">
                <input type="text" name="name" placeholder="First Name" autocomplete="given-name" maxlength="16" required>
                {% with messages = get_flashed_messages(category_filter=["name_error"]) %}
                    {% if messages %}
                    <div class="criteria">
                        {{ messages[0] }}
                    </div>
                    {% endif %}
                {% endwith %}    
                <input type="email" name="email" placeholder="Email" autocomplete="email" maxlength="48" required> 
                {% with messages = get_flashed_messages(category_filter=["email_error"]) %}
                    {% if messages %}
                    <div class="criteria">
                        {{ messages[0] }}
                    </div>
                    {% endif %}
                {% endwith %}    
                <input type="password" name="password" placeholder="Password" autocomplete="new-password" required>  
                {% with messages = get_flashed_messages(category_filter=["pw_error"]) %}
                    {% if messages %}
                    <div class="criteria">
                        {{ messages[0] }}
                    </div>
                    {% endif %}
                {% endwith %}        
                <div id="passwordCriteria">
                    <div class="criteria" id="lengthCheck">Min. 8 characters</div>
                    <div class="criteria-row">
                        <div class="criteria" id="lowercaseCheck">One lowercase</div>
                        <div class="criteria" id="uppercaseCheck">One uppercase</div>
                    </div>
                    <div class="criteria-row">
                        <div class="criteria" id="numberCheck">One number</div>
                        <div class="criteria" id="specialCheck">One special character</div>
                    </div>
                </div>
                <input type="password" name="confirm_password" placeholder="Confirm Password" autocomplete="new-password" required> 
                {% with messages = get_flashed_messages(category_filter=["pw_match_error"]) %}
                    {% if messages %}
                        <div class="criteria">
                            {{ messages[0] }}
                        </div>
                    {% endif %}
                {% endwith %}   
                <div class="criteria" id="passwordMatch" style="display: none">Passwords do not match!</div>
                <div class="checkbox-container">
                    <label for="showPasswordCheckbox">Show Password</label>
                    <input name="showPassword" type="checkbox" onclick="togglePasswordVisibility()">    
                </div>
                <div class="visual-text"> 
                    Already have an account? <a class="link" href="/login">Login here</a> 
                </div>
                <button type="submit" id="getStartedButton" class="reg-button">Get Started</button> 
            </form>
        </div>
    </div>

</div>
<script src="/static/scripts/auth.js"></script>
{% endblock %}