{% extends "base2.html" %}

{% block title %} Register {% endblock %}
{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='auth.css') }}">
{% endblock %}
{% block content %}
<div class="reg-container">
    <h1 class="reg-title">Register</h1>
    <div class="reg-forms">
        <div class="manual-reg-form">
            <h2 class="reg-info">Enter your details</h2> <!-- need to change this -->
            <form action="" method="post">
                <input type="text" name="name" placeholder="First Name" autocomplete="given-name" maxlength="16" required>
                <input type="email" name="email" placeholder="Email" autocomplete="email" maxlength="48" required> 
                <input type="password" name="password" placeholder="Password" required>
                <div id="passwordCriteria">
                    <div class="criteria">
                        <span>Minimum 8 characters</span> <span id="lengthCheck" class="emoji">❌</span>
                    </div>
                    <div class="criteria">
                        <span>At least one lowercase letter</span> <span id="lowercaseCheck" class="emoji">❌</span>
                    </div>
                    <div class="criteria">
                        <span>At least one uppercase letter</span> <span id="uppercaseCheck" class="emoji">❌</span>
                    </div>
                    <div class="criteria">
                        <span>At least one number</span> <span id="numberCheck" class="emoji">❌</span>
                    </div>
                    <div class="criteria">
                        <span>At least one special character</span> <span id="specialCheck" class="emoji">❌</span>
                    </div>
                </div>
                <input type="password" name="confirm_password" placeholder="Confirm Password" required> 
                <label for="showPasswordCheckbox">Show Password
                    <input label='show password checkbox' type="checkbox" id="showPasswordCheckbox" onclick="togglePasswordVisibility()">    
                </label>
                <div class="visual-text"> 
                    Already have an account? <a class="link" href="/login">Login here</a> 
                </div>        
                <button type="submit" class="reg-button">Get Started</button> 
            </form>
        </div>
        <div class="vertical-line"></div>
        <div class="sso-reg-form">
            <div class="sso-buttons">
                <div id="g_id_onload"
                    data-client_id="YOUR_GOOGLE_CLIENT_ID"
                    data-context="signup"
                    data-login_uri="http://localhost:5000/login/authorized"
                    data-auto_prompt="false">
                </div>
                <div class="g_id_signin"
                    data-type="standard"
                    data-shape="rectangular"
                    data-theme="filled_blue"
                    data-text="sign_up_with"
                    data-size="large"
                    data-logo_alignment="left"
                    data-width="200">
                </div>
            </div>
        </div>    
    </div>
</div>
<script src="https://accounts.google.com/gsi/client" async defer></script>
<script>
    function renderButton() {
        gapi.signin2.render('gSignInWrapper', {
            'scope': 'profile email',
            'width': 240,
            'height': 50,
            'longtitle': true,
            'theme': 'light'
        });
    }

    gapi.load('auth2', function() {
        gapi.auth2.init().then(function() {
            renderButton();
        });
    });
</script>
<script src="/static/scripts/register.js"></script>
{% endblock %}