{% extends "base2.html" %}

{% block title %} Register {% endblock %}
{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='auth.css') }}">
{% endblock %}
{% block content %}
<div class="reg-container">
    <h1 class="reg-title">Register</h1>
    <div class="reg-forms">
        <div class="manual-reg-form">
            <h2 class="reg-info">Enter your details</h2> <!-- need to change this -->
            <form action="" method="post">
                <input type="text" name="name" placeholder="First Name" autocomplete="given-name" maxlength="16" required>
                {% with messages = get_flashed_messages(category_filter=["name_error"]) %}
                    {% if messages %}
                    <div class="alert-danger">
                        {{ messages[0] }}
                    </div>
                    {% endif %}
                {% endwith %}    
                <input type="email" name="email" placeholder="Email" autocomplete="email" maxlength="48" required> 
                <input type="password" name="password" placeholder="Password" required>
                <div id="passwordCriteria">
                    <div class="criteria" id="lengthCheck">Min. 8 characters</div>
                    <div class="criteria-row">
                        <div class="criteria" id="lowercaseCheck">One lowercase</div>
                        <div class="criteria" id="uppercaseCheck">One uppercase</div>
                    </div>
                    <div class="criteria-row">
                        <div class="criteria" id="numberCheck">One number</div>
                        <div class="criteria" id="specialCheck">One special character</div>
                    </div>
                </div>
                <input type="password" name="confirm_password" placeholder="Confirm Password" required> 
                <div class="alert-danger" id="password_match" style="display: none">Passwords do not match!</div>
                <label for="showPasswordCheckbox">Show Password
                    <input label='show password checkbox' type="checkbox" id="showPasswordCheckbox" onclick="togglePasswordVisibility()">    
                </label>
                <div class="visual-text"> 
                    Already have an account? <a class="link" href="/login">Login here</a> 
                </div>
                <button type="submit" class="reg-button">Get Started</button> 
            </form>
        </div>
    </div>

</div>
<script src="/static/scripts/register.js"></script>
{% endblock %}