@import url("variables.css");

.reg-container {
    border-radius: 5px;
    background-color: white;
    width: 80%;
    height: 90%;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
}

.reg-title {
    font-weight: 700;
    text-align: center;
    padding-top: 0.1em;
    font-family: var(--inter-family);
    background: linear-gradient(90deg, #007bff, #00bfff);
    background-clip: text;
    color: transparent; /* Make the text color transparent to show the gradient */
}

.reg-forms {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.manual-reg-form {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.manual-reg-form form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    height: 100%;
}

.manual-reg-form input {
    position: relative;
    margin: 12px auto;
    border: 0.5px solid #ccc; /* Use a transparent border */
    border-radius: 5px;
    width: 100%;
    font-size: 18px;
    padding: 20px;
}

.manual-reg-form input {
    position: relative;
    margin: 12px auto;
    border: 0.5px solid #ccc; /* Use a transparent border */
    border-radius: 5px;
    width: 100%;
    font-size: 18px;
    padding: 20px;
}

.manual-reg-form input:focus {
    border-bottom: 2px solid #ccc; /* Example: Makes the bottom border bolder and changes color to blue */
    outline: none; /* Removes the default focus outline */
    padding-bottom: 19px; /* Example: Adds a small padding to the bottom of the input */
}

.checkbox-container {
display: flex;
justify-content: space-between;
align-items: center;
width: 200px;
}

.checkbox-container input[type="checkbox"] {
    width: auto; /* Reset the width */
    display: inline; /* Override display: block; */
    box-shadow: none;
    margin-right: 10%;
    transform: scale(1.5);
}

.checkbox-container label {
font-size: 16px;
line-height: 1.5;
display: inline; /* Make the label inline */
font-family: 'Inter', 'Roboto', sans-serif;
margin-left: 10%;
}


.visual-text {
    font-size: 12px;
    font-family: var(--inter-family);
    margin-top: 18px;
}

.link {
    color: #007bff;
    text-decoration: none;
    font-family: var(--inter-family);
}

.link:hover {
    color: #0056b3;
    text-decoration: underline;
}

.reg-button {
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    padding: 20px 40px;
    font: 500 16px var(--inter-family);
    cursor: pointer;
    border: none;
    margin-top: 30px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.reg-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

#passwordCriteria {
    overflow: hidden;
    max-height: 0;
    flex-direction: column;
    justify-content: space-between; /* Space between criteria text and emoji */
    align-items: center; /* Center items vertically */
    margin-bottom: 5px; /* Keeps existing bottom margin */
    width: 100%;
    transition: max-height 0.4s ease-in-out, opacity 0.4s ease-in-out, visibility 0.4s linear;
}

.criteria {
    padding: 10px;
    transition: background-color 0.3s ease;
    width: 100%;
    text-align: center;
    font-family: var(--inter-family);
    font-weight: 500;
    font-size: small;
    background-color: #f8d7da;
    color: #721c24;
}

.criteria-row {
    display: flex;
    width: 100%;
}

.criteria.valid {
    background-color: #d4edda;
    color: #155724;
}

.criteria.invalid {
    background-color: #f8d7da;
    color: #721c24;
}

.alert-danger {
    color: red;
    font-size: 14px;
    font-family: var(--inter-family);
}